[submodule "Submodules/Graphs"]
	path = Submodules/Graphs
	url = https://github.com/RustyRoboticsBV/Rusty.Graphs.git
[submodule "Submodules/Xml"]
	path = Submodules/Xml
	url = https://github.com/RustyRoboticsBV/Rusty.Xml.git
[submodule "Submodules/Csv"]
	path = Submodules/Csv
	url = https://github.com/RustyRoboticsBV/Rusty.Csv.git
[submodule "Submodules/ISA"]
	path = Submodules/ISA
	url = https://github.com/RustyRoboticsBV/Rusty.ISA.git
